
.homepage,.container {height: 97vh;width: 98vw;display: flex;justify-content: center;align-items: center;}
.homepage{text-align:center;font-size:15px;}


@page { size: auto; size: A3; margin: 0mm;} body {-webkit-print-color-adjust: exact;}

ul {grid-template-columns: repeat(auto-fill, 1fr);}
.hide {display: none;}

.materials {background-color: 	lightgrey;}
.caret {cursor: pointer; user-select: none;}
.caret::before {content: '\25B6'; color: black; display: inline-block; margin-right: 6px; }
.caret-down::before {content: '\25BC'; display: inline-block;}
.nested {display: none; color: rgb(54, 142, 196); background-color: rgb(241, 241, 241); margin: 4px -4px -4px -4px; padding: 4px 4px 4px 4px;}
.active {display: block;}

.divTable, .divTableRow, .divTableCell, .divTableHead, .divTableContent {border: 0px; padding: 0px; margin: 0px;}
.divTable {display: table; width: 100%; border-style: solid; border-color:red; border-collapse: separate; border-spacing: 0px 0px;}
.divTableRow  {display: table-row; width: 100%; border-style: solid; border-color: white;}
.divTableCell, .divTableHead {display: table-cell; border-style: solid; border-color:blue;}
.divTableCell.contentPlaceholder {padding: 4px 4px 4px 4px; width: 13.68vw;}
.divTableCell.contentPlaceholderEmpty {padding: 4px 4px 4px 4px; width: 13.68vw;}
.divTableCell.label {vertical-align: middle; background-color: rgb(0, 86, 133);color: white;}

.divTableCell.sep {vertical-align: middle; text-align: center; width: 2.40vw; }
.divTableCell.materialspace {vertical-align: middle; text-align: center; width: 66.45vw; }
.divTableCell.hopmaterialspace {vertical-align: middle; text-align: center; width: 50vw; }
.divTableCell.gopmaterialspace {vertical-align: middle; text-align: center; width: 33.2vw; }
.divTableCell.resourcespace {vertical-align: middle; text-align: center; width: 50vw; }
.divTableCell.hopresourcespace {vertical-align: middle; text-align: center; width: 33.20vw; }
.divTableCell.gopresourcespace {vertical-align: middle; text-align: center; width: 16.5vw; }
.divTableCell.wplparamspace {vertical-align: middle; text-align: center; width: 33.2vw; }
.divTableCell.hopparamspace {vertical-align: middle; text-align: center; width: 16.5vw; }
.divTableCell.right {border-style: dashed; border-color:black;}
.divTableBody {display: table-row-group; }
.divTableContent {padding: 4px 4px 4px 4px; background-color: white ; width: 13.68vw; text-align: center;}
.divParamValueRow {padding: 2px 2px 2px 2px; display:flex; border: 1px solid #ffffff;}
.paramlabel {padding:2px 2px 2px 2px; flex-basis:50%}
.paramvalue {padding:2px 2px 2px 2px; flex-basis:50%}

.top-container {text-align: center;}
h1 {text-align: center; font-family: 'Source Sans Pro', sans-serif;font-weight: normal;}
body {margin: 0; font-family: Arial, Helvetica, sans-serif;}

.content {padding: 10px; position:relative;}
.addAttributes {display: none;}

.info-table {text-align: center;}
table {width: 100%; border-collapse: collapse; background-color: #f2f2f2; color: black;}
td {width: 16.6%; border:1px solid #dddddd; padding: 5px;}

.recipeHeader {padding: 10px; background-color: rgb(0, 86, 133); overflow: hidden; position: sticky; top: 0; z-index:999;}

.sticky { position: fixed; top: 0; left: 0; right: 0;}

.loader { width: 50px; position: fixed; top: 50%; left:50%; --b: 8px; aspect-ratio: 1; border-radius: 50%; padding: 1px; background: conic-gradient(#0000 10%,#005685) content-box; -webkit-mask: repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg), radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b))); -webkit-mask-composite: destination-in; mask-composite: intersect; animation:l4 1s infinite steps(10); z-index:9999;}
@keyframes l4 {to{transform: rotate(1turn)}}

.customPopup {position:fixed; left:0; top:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.5); display:none; justify-content:center; align-items:center; z-index:9999}
.customPopupBG {background-color:#fff; padding:20px; border-radius:5px; text-align:center; position:relative}
#popupYesBtn {margin-right:25px; margin-top:15px;}

.popup {display: none;font-size: 12px;border: 2px #ccc;z-index: 1000;}
.popup-content {text-align: center;}
.addAttributes {display: none;}
.close-button {font-size: 2rem;color: black;cursor: pointer;text-align: end;cursor: pointer;position: sticky;top: 0;}
img {object-fit: cover; height: 90% !important; width: 90% !important;}
.Properties {color: black;position: sticky;	background-color: #f2f2f2;	height: 25px;	top: 0;}
.table-header {height: 25px; color: black; position: sticky; background-color: #ccc; top: 0;}
.table-resize {border: 1px solid; position: fixed; top: 10%; left: 64%; height: 86%; resize: both; overflow: scroll; background-color: #ccc; width: 35%;}
tr.border-bottom { border-bottom: 2px solid black;}

.propContainer {width: 484px; float:right; height:98%; position:fixed; border: 1px solid #D1D4D4; top:0; right:15px; background-color : #F1F1F1;z-index:9999;}
.window-titlebar { background-color:#D1D4D4; position: relative; text-align: left; border : 1px solid #b4b6ba; border-top-width: 0px; height: 22px; box-sizing: content-box; width: calc(100% - 2px) !important;line-height: 24px; border-left:unset;}
.window-header-title {background-color: #F1F1F1; border-right: 1px solid #b4b6ba; width:70px; box-sizing: border-box; height: 24px; white-space: nowrap; overflow: hidden; padding-left: 8px; padding-right: 8px;}
.window-placeholder p{display: inline-block; margin: 0 0 10px;}

.window-header-buttons-div{position: absolute; right: 0px; top: 0px; white-space: nowrap; }
	
.window-header-close { display: inline; border: none; margin: 0; width: 24px; min-width: 22px; height: 100%; min-height: 22px; color: #77797c; background-color: transparent; outline: none; vertical-align: baseline; position: relative; display: inline-block; font: normal normal normal 14px / 1 DSFontIcon; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0);}
.window-header-close:before {content: '\2716'; }
.window-maincontent {background-color: #f1f1f1; border-width: 0px 1px 1px 1px;}
.window-content {height:120px; min-height: 0px; box-sizing: border-box; display: block; padding: 5px 5px 0px 5px; overflow-y: auto; position: relative; outline: none; -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text;}

.properties-container{height: 100%;width: 100%;min-width: 450px; background-color: #fff; position:relative;}
.ICTableContainer {height: 100%; width: 100%; display: flex; flex-direction: row;}
.thumbnail {display: flex; width: 30%;  margin-right: 10px; align-items: center; flex-direction:row; margin-left: 10px;}
.TitleAttributes {display: flex; width:70%; align-items: center; flex-direction:column; overflow: hidden; padding-left: 5px;}
.ObjectHeaderTitle {display: flex; padding: 20px 10px 20px 0px; width:100%; align-items: center; flex-direction:row;}
.ObjectTitle {font-family : Arial; font-size : 20px; color:#77797C; margin-right: 10px; white-space: nowrap;text-overflow: ellipsis;}
.ObjectRevision {font-family : Arial; font-size : 20px; color:#77797C;}
.ObjectHeaderDetails {display: flex; width:100%; align-items: center; flex-direction:row;}
.ObjectOwner {font-family : Arial; font-size : 12px; color:#3D3D3D; margin-right: 10px;}
.ObjectModification {font-family : Arial; font-size : 12px; color:#BAB6BA;}

.resizeHandler {position: absolute;display: inline-block; width: 20px; height: 100%; top: 0; cursor: col-resize; z-index: 10;left: 190px;}

.window-attributes {position: relative;padding: 5px 0px 5px 5px;width: 98%; height: 75%;}
.window-attributes-actions{position: relative; padding: 3px;}
.attribute-table{ position: relative; padding: 5px; background-color : #ffffff; height:99.5%; overflow-y:auto;}
.attribute-table-level1{ position: relative; padding-right: 12px; padding-left: 12px; height:100%;}
.formTable{position: relative; height:100%;}
.datalabelandvalue{position: relative; display:flex; flex-direction :row;}
.datalabel {position: relative; padding: 5px; display: inline-flex; overflow: hidden; color: #3d3d3d; font-family: Arial; font-size: 12px; width: 50%; font-weight: 700;     white-space: nowrap; background: 0 0; min-width: 50%;}
.datavalue {position: relative; padding: 5px; display: inline-flex; overflow: hidden; word-break: break-word; word-wrap: break-word;width: 50%;}

a:link{text-decoration:none}
.vn-blue a{
font-size: 17px;
 padding: 0.5em 2em;
 border: transparent;
 box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
 background-color: rgb(0, 86, 133)
 color: white;
 border-radius: 4px;
}

.vn-blue button:hover{
 background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}


.box select {
 font-size: 10px;
 font-weight: bold;
 padding: 0.5em 2em;
 border: transparent;
 box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
 background: #005685;
 color: white;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box select option {
  padding: 30px;
  font-weight: bold;
  font-size: 10px;
  text-align: left;
   background: #005685;

}

.box {
	align-items: center;
	justify-content: center;
}

.topmenuitems
{
	display: flex; flex-direction: row;
}

.btn-reset
{
	color: white;
	background-color: rgb(0 86 133);;
	border: none;
	cursor: pointer;
	position:absolute;
	top:0;
    right:0;
	font-size: 10px;
    font-weight: bold;
    height: 25px;
	width:100px;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
	display: none;
}
#tinyPopup {
	display: none;
	position: fixed;
	top: 20px;
	right: 5px;
	transform: translate(-50%, -50%);
	padding: 5px;
	background-color: #fad9db;
	border-left: 5px solid red;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
	z-index: 1000;
	width: auto;
	height: auto;
	font-size:13px;
}